<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <form action="/admin/signin" method="POST" class="card-body p-5 text-center" id="loginform">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold text-white mb-2 text-uppercase">Bakestore Admin Login</h2>
                <p class="text-white-50 mb-5">Please enter your login and password!</p>
  
                <div class="form-outline form-white mb-4">
                  <input type="text" id="typeEmailX" class="form-control form-control-lg" placeholder="Enter your Email address" name="email"/>
                  <!-- {{!-- <label class="form-label" for="typeEmailX">Email</label> --}} -->
                  <span id="emailError" style="color: red;;"></span>
                </div>
  
                <div class="form-outline form-white mb-4">
                  <input type="password" id="typePasswordX" class="form-control form-control-lg" placeholder="Enter your password" name="password"/>
                  <!-- {{!-- <label class="form-label" for="typePasswordX">Password</label> --}} -->
                  <span id="passwordError" style="color: red;"></span>
                </div>
                <% if (error) { %>
                    <div class="error-message" style="color: red;">
                      <%= error %>
                    </div>
                  <% } %>
  
                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                 
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
   <script src="javascripts/loginvalidation.js"></script>